html{
    height: 100%;
}

body {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    height: 100%;
}

.body-content {
    height: 72%;
}

/* Set padding to keep content from hitting the edges */
/*
.body-content {
    padding-left: 2%;
    padding-right: 2%;
}
*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#header {
    font-size: 27px;    
    padding: 1% 1%;
}

.header-container {
    padding-bottom: 2%;
}

#map {
        height: 100%;
        margin: 0px;
        padding: 0px
}

#map-canvas{
    height: 100%;
}

@media (max-width: 9999px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media(max-width: 400px){
    #header {
        font-size: 18px;
    }
}


