html{
    height: 100%;
}

body {
    height: 100%;
}

.body-content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    padding: 170px 15px 30px 15px;
}

/* Set padding to keep content from hitting the edges */
/*
.body-content {
    padding-left: 2%;
    padding-right: 2%;
}
*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#header {
    font-size: 27px;    
    padding: 0.5% 1% 0% 1%;
    text-align: center;
    height: 95px;
}
    #header a {
        text-decoration: none;
        color: black;
        font-family: 'Open Sans', sans-serif;
    }

.header-container {
    height: 95px;
}

#map {
        height: 100%;
        margin: 0px;
        padding: 0px
}

#areaMap {
    height: 100%;
}

#map-canvas{
    height: 100%;
}

.infobox-wrapper {
    display: none;
}

.infobox {
    border:1px solid #666;
    margin-top: 8px;
    background:#333;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 6px #000;
    text-align: center;
    width: auto;
}

.infobox p li span {
    position: relative;  
    font-weight: normal;
}

.infobox p li {   
    margin: 0;
}

.infobox p ul {  
    margin-left: -10px;
    color: lightpink;  
}

    .infobox .friends {
        text-align: left;
        margin-left: 50px;
        font-weight: bold;
    }


h5.name {
    font-weight: bolder;
}

.infoBox > img
{
    height: 25px;
}

.navbar-inverse .navbar-nav > li > a.filter-on{ 
    background-color: #39393D;
}
.navbar-inverse .navbar-nav li > a { 
    transition-property: all;
    transition-duration: 0.4s
}
ul.filters > li > a,
ul.filters > li > a:focus,
ul.filters > li > a:hover {
    color: #999999 !important;
}

@media(max-width: 400px) {
    #header {
        font-size: 18px;
    }
}

#loginButton {
    background-color: transparent;
}

footer {
    text-align: center;
    padding-top: 5px;
}

div#text {
    color: lightgray;
    font-size: 0.9em;
    margin: 0;
}

    div#text:hover {
        color: darkgray;
    }

    div#text a {
        color: lightgray;
    }
    
    div#text a:link:hover, div#text a:visited:hover {
        color: darkgray;
        text-decoration: none;
    }

    div#text a:visited, div#text a:link {
        color: lightgray;
        text-decoration: none;
    }

.current-pos {
    height: 32px;
    clip: rect(0px,24px,34px,0px);
    margin-left: 5px;
    margin-right: -10px;
}

.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.navbar-nav {
    margin: 0;
}

.map-container {
    height: 100%;
    position: relative;
}

.nav-container {
    height: 65px;
}

.userInfo {
    padding: 15px 10px;
    line-height: 20px;
    color: #999999;
}

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

ul#login {
    padding-top: 5px;
    padding-right: 5px;
}