html{
    height: 100%;
}

body {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    height: 100%;
}

.body-content {
    height: 85%;
}

/* Set padding to keep content from hitting the edges */
/*
.body-content {
    padding-left: 2%;
    padding-right: 2%;
}
*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#header {
    font-size: 27px;    
    padding: 1% 1%;
}

.header-container {
    padding-bottom: 2%;
}

#map {
        height: 100%;
        margin: 0px;
        padding: 0px
}

#map-canvas{
    height: 100%;
}

.infobox-wrapper {
    display:none;
}

#infobox {
    border:2px solid black;
    margin-top: 8px;
    background:#333;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;
}

.navbar-inverse .navbar-nav > li > a {
  color: #5A5A5A;
}

.navbar-inverse .navbar-nav > li > a.filter-on {
    color: #FF9938;
}

.navbar-inverse .navbar-nav > li > a.filter-on:hover,
.navbar-inverse .navbar-nav > li > a.filter-on:focus {
  color: #ffffff;
  background-color: transparent;
}

@media(max-width: 400px){
    #header {
        font-size: 18px;
    }
}

#loginButton > a{
    background-color: transparent;
}
