html{
    height: 100%;
}

body {
    padding-top: 0.5%;
    padding-bottom: 1.5%;
    height: 100%;
}

.body-content {
    height: 85%;
}

/* Set padding to keep content from hitting the edges */
/*
.body-content {
    padding-left: 2%;
    padding-right: 2%;
}
*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#header {
    font-size: 27px;    
    padding: 1% 1%;
    text-align: center;
}
    #header a {
        text-decoration: none;
        color: black;
        font-family: 'Open Sans', sans-serif;
    }

.header-container {
    padding-bottom: 0.5%;
}

#map {
        height: 100%;
        margin: 0px;
        padding: 0px
}

#map-canvas{
    height: 100%;
}

.infobox-wrapper {
    display: none;
}

.infobox {
    border:1px solid #666;
    margin-top: 8px;
    background:#333;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 6px #000;
    text-align: center;
    width: auto;
}

h5.name {
    font-weight: bolder;
}

.infoBox > img
{
    height: 25px;
}

.navbar-inverse .navbar-nav > li > a.filter-on{ 
    background-color: #39393D;
}
.navbar-inverse .navbar-nav li > a { 
    transition-property: all;
    transition-duration: 0.4s
}
ul.filters > li > a,
ul.filters > li > a:focus,
ul.filters > li > a:hover {
    color: #999999 !important;
}

@media(max-width: 400px){
    #header {
        font-size: 18px;
    }
}

#loginButton {
    background-color: transparent;
}

footer {
    padding-top: 1.5%;
    text-align: center;
}

footer > p {
    font-size: 0.9em;
    color: darkgray;
}

    footer:hover {
        color: black;
    }