<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foursquare Places - PV247</title>

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>

    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-resource.js"></script>
    <script src="/Scripts/ui-bootstrap-tpls-0.11.2.js"></script>

    <script data-main="/Scripts/site/main.js" src="http://requirejs.org/docs/release/2.1.15/minified/require.js"></script>

    <link href="/Content/bootstrap.css" rel="stylesheet">
    <link href="/Content/site.css" rel="stylesheet">
    <link href="/Content/zocial.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
</head>


<body ng-controller="AppController">
    <div class="container header-container">
        <div id="header">
            <a href="/">
               <img src="~/Content/Images/foursquare.png" height="75"/>
                Foursquare Places
            </a>
        </div>
    </div>

    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation" ng-controller="NavbarController">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-click="navCollapsed = !navCollapsed" ng-init="navCollapsed = true">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>                  
                </div>
                <div class="navbar-collapse collapse" collapse="navCollapsed">
                    <ul class="nav navbar-nav filters">                    
                        <li>
                            <a href=""
                               ng-click="toCurrentPosition();">
                                <img src="http://google.com/mapfiles/arrow.png" class="current-pos"/>
                                You are here
                            </a>
                        </li>                        
                        <li><a href=""
                                ng-click="toggleCategory('Arts & Entertainment')"
                                ng-class="{ 'filter-on' : categories['Arts & Entertainment']}">
                                <img src="http://maps.google.com/mapfiles/kml/pal2/icon27.png" />
                            Fun</a>
                        </li>
                        <li><a href=""
                               ng-click="toggleCategory('Restaurant')"
                               ng-class="{ 'filter-on' : categories['Restaurant']}">
                                <img src="http://maps.google.com/mapfiles/kml/pal2/icon40.png" />
                            Food</a>
                        </li>
                        <li><a href=""
                               ng-click="toggleCategory('School & Business')"
                               ng-class="{ 'filter-on' : categories['School & Business']}">
                                <img src="http://maps.google.com/mapfiles/kml/pal2/icon61.png" />
                            Public</a>
                        </li>
                        <li><a href="" 
                               ng-click="toggleCategory('Residence & Recreation')"
                               ng-class="{ 'filter-on' : categories['Residence & Recreation']}">
                                <img src="http://maps.google.com/mapfiles/kml/pal2/icon28.png" />
                            Pasttime</a>
                        </li>
                        <li><a href="" 
                               ng-click="toggleCategory('Travel & Transport')"
                               ng-class="{ 'filter-on' : categories['Travel & Transport']}">
                                <img src="http://maps.google.com/mapfiles/kml/pal2/icon56.png" />
                            Travel</a>
                        </li>
                        <li><a href="" 
                               ng-click="toggleCategory('Shop & Service')"
                               ng-class="{ 'filter-on' : categories['Shop & Service']}">
                                <img src="http://maps.google.com/mapfiles/kml/pal3/icon26.png" />
                            Shop</a>
                        </li>
                        <li><a href=""
                               ng-click="toggleCategory('Unknown')"
                               ng-class="{ 'filter-on' : categories['Unknown']}">
                                <img src="http://maps.google.com/mapfiles/kml/pal3/icon31.png" />
                            Other</a>                        
                        </li>                                                   
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a id="loginButton" href="http://foursquare-places.azurewebsites.net/Home/Login/"
                               class="zocial foursquare">Log in</a>
                        </li>     
                    </ul>
                </div>
            </div>
        </nav>
    </div>   

    <div class="container body-content">
        
            <div id="areaMap" map-directive class="body-content"></div>

        <footer>
            <p><b>&copy; 2014</b> - This website was created as a school project at Faculty of Informatics of Masaryk University</p>
        </footer>
    </div>  
</body>
</html>
