<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foursquare Places - PV247</title>


    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>

    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-resource.js"></script>

    <script src="/Scripts/ui-bootstrap-tpls-0.11.2.js"></script>

    <script data-main="/Scripts/site/main.js" src="http://requirejs.org/docs/release/2.1.15/minified/require.js"></script>

    <link href="/Content/bootstrap.css" rel="stylesheet">
    <link href="/Content/site.css" rel="stylesheet">
    <link href="/Content/zocial.css" rel="stylesheet">
</head>


<body ng-controller="AppController">
    <div class="container header-container">
        <div id="header">Foursquare Places</div>
    </div>

    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation" ng-controller="NavbarController">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-click="navCollapsed = !navCollapsed" ng-init="navCollapsed = true">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand" ng-click="transitionHome()">Home</a>                    
                </div>
                <div class="navbar-collapse collapse" collapse="navCollapsed">
                    <ul class="nav navbar-nav">                    
                        <li><a href="#"
                                ng-click="toggleCategory('Arts & Entertainment')"
                                ng-class="{ 'filter-on' : categories['Arts & Entertainment']}">Fun</a>
                        </li>
                        <li><a href="#" 
                               ng-click="toggleCategory('Restaurant')"
                               ng-class="{ 'filter-on' : categories['Restaurant']}">Food</a>
                        </li>
                        <li><a href="#"
                               ng-click="toggleCategory('School & Business')"
                               ng-class="{ 'filter-on' : categories['School & Business']}">Public</a>
                        </li>
                        <li><a href="#" 
                               ng-click="toggleCategory('Residence & Recreation')"
                               ng-class="{ 'filter-on' : categories['Residence & Recreation']}">Pasttime</a>
                        </li>
                        <li><a href="#" 
                               ng-click="toggleCategory('Travel & Transport')"
                               ng-class="{ 'filter-on' : categories['Travel & Transport']}">Travel</a>
                        </li>
                        <li><a href="#" 
                               ng-click="toggleCategory('Shop & Service')"
                               ng-class="{ 'filter-on' : categories['Shop & Service']}">Shop</a>
                        </li>
                        <li><a href="#"
                               ng-click="toggleCategory('Unknown')"
                               ng-class="{ 'filter-on' : categories['Unknown']}">Other</a>                        
                        </li>                                                   
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a id="loginButton" href="http://foursquare-places.azurewebsites.net/Home/Login/"
                               class="zocial foursquare">Log in</a>
                        </li>     
                    </ul>
                </div>
            </div>
        </nav>
    </div>   

    <div class="container body-content">
        
            <div id="areaMap" map-directive class="body-content"></div>

            <div id="infobox-holder" class="infobox-wrapper"></div>
        
        <hr />
        <footer>
            <p>&copy; 2014 - PV247 FoursquarePlaces</p>
        </footer>
    </div>  
</body>
</html>
