@{
    ViewBag.Title = "Foursquare Places - PV247";
}

<div class="">
    <div id="map-wrapper" style="height: 100vh; width: 100%">
        <div id="map" style="height: 100%; width: 100%"></div>
    </div>
</div>

@Scripts.Render("~/bundles/map")
